<%- include('../layouts/header.ejs') %>
<div  class="container-fluid6">
<div class="box-addc">
    <h1 class="head1-addc">AddCategory</h1>

 
<form action="" class="form1-addc" method="post">
    <input type="file" class="form-control2-addc" name="icon" required >
    <input type="name" class="form-control3-addc" name="name" placeholder="Enter the new Category" required>
    <br><br> 
    <input type="submit" class="form-control4-addc" value="Add Category">
    
</form>

<a href="/admin/categories" class="form-control4-addc">Go Back</a>

</div>
</div>



<%- include('../layouts/footer.ejs') %>