<%- include('../layouts/header.ejs') %>
<div class="container-fluid5">
    <div class="logo-image"><img src="/images (1).jpg" alt=""></div>
<div class="box-addp">
    <h1  class="head1-addp">AddProduct</h1>
    <!-- enctype="multipart/form-data" -->
 
<form action="" class="form1-addp"method="post"  enctype="multipart/form-data" >
    <input type="file" accept="image/*" class="form-control2-addp" name="images"  multiple>
     
    <input type="text" class="form-control1-addp" name="name" placeholder="Enter name of the product" required>
    <br><br>
    <input type="text"  class="form-control1-addp" name="description" placeholder="Enter Description of the product" required>
    <br><br>
    <input type="text"  class="form-control1-addp" name="richDescription" placeholder="Enter RichDescription of the product" required>
    <br><br>
    <input type="text"  class="form-control1-addp" name="brand" placeholder="Enter Brand of the product" required>
    <br><br>
    <input type="number"  class="form-control1-addp" name="price" placeholder="Enter Price of the product" required>
    <br><br>
    <select name="category" class="form-control1-addp" required>
        <option value="" disabled selected>Select a category</option>
        <% categories.forEach(category => { %>
            <option value="<%= category.name %>"><%= category.name %></option>
        <% }); %>
    </select>
    <br><br>
    <input type="number"  class="form-control1-addp" name="countInStock" placeholder="Enter stock of the product" required>
    <br><br>
  
    
     
    <input type="submit"  class="form-control4-addp" value="Add product">
    
</form>

<a href="/admin/products"  class="form-control4-addp">Go Back</a>
</div>
</div>






<%- include('../layouts/footer.ejs') %>