<% include('../layouts/header.ejs') %>
<h1>Welcome,<%= admin.name %></h1>

<a href="/admin/dashboard">Dashboard</a>
<br>

 
<br>


<a href="/admin/logout">Logout</a>
<% include('../layouts/footer.ejs') %>