         
    <%- include('../layouts/header.ejs') %>

 <div class="container-fluid5">

    <div class="box-addu">
        <h1 class="head1-addu">addUser</h1>
    

    <form action="" class="form1-addu" method="post">
        <input type="text" class="form-control1-addu" name="name" placeholder="Enter name" required>
        <br><br>
        <input type="email"  class="form-control1-addu" name="email" placeholder="Enter email" required>
        <br><br>
        <input type="text"  class="form-control1-addu" name="mobile" placeholder="Enter mobile number" required>
        <br><br>
        <input type="password"  class="form-control1-addu" name="password" placeholder="Enter password" required>
        <br><br>
        <input type="password"  class="form-control1-addu" name="cpassword" placeholder="Confirm password" required>
        <br><br>
        
        <input type="text"  class="form-control1-addu" name="country" placeholder="Enter country" required>
        <br><br>
        <input type="submit"  class="form-control4-addu" value="Add user">
        
    </form>

    <a href="/admin/customers"  class="form-control4-addu">Go Back</a>
</div>
</div>

    <%- include('../layouts/footer.ejs') %>
