/* Slider */
.slick-slider {
  position: relative;

  display: block;
  box-sizing: border-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;

  display: block;
  overflow: hidden;

  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;

  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before,
.slick-track:after {
  display: table;

  content: "";
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;

  height: 100%;
  min-height: 1px;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;

  height: auto;

  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
.nk-tb-col {
  white-space: 100px;
}
.icon-hover:hover {
  border-color: #3b71ca !important;
  background-color: white !important;
  color: #3b71ca !important;
}

.icon-hover:hover i {
  color: #3b71ca !important;
}

.container-fluid1 {
  height: 870px;
  /* margin-left: 400px; */
  padding-top: 10px;

  background-color: rgb(28, 28, 28);
}
.container-fluid2 {
  height: 634px;
  /* margin-left: 400px; */
  padding-top: 10px;

  background-color: rgb(159, 158, 158);
}

.form-register {
  padding-left: 50px;
}
.box-register {
  background-color: rgb(13, 13, 12);
  height: 950px;
  width: 500px;
  margin-left: 500px;
  margin-top: 30px;
  border-color: orangered;
  border-style: groove;
}
.sub1-register {
  font-size: 15px;
  margin-left: 90px;
  width: 350px;
  color: white;
}
.head1-register {
  padding-top: 100px;
  font-size: 40px;
  width: 170px;
  margin-left: 170px;
  font-weight: 700;
  font-family: sans-serif;
  color: white;
}

.form1-login {
  padding-left: 50px;
}
.box-login {
  background-color: rgb(13, 13, 12);
  height: 570px;
  margin-top: 20px;
  width: 500px;
  margin-left: 500px;
  border-color: orangered;
  border-style: groove;
}

.head1-login {
  font-size: 40px;
  width: 170px;
  padding-left: 190px;
  font-weight: 700;
  padding-top: 30px;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.sub1-login {
  font-size: 17px;
  margin-left: 2px;
  margin-top: 8px;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.form-control2-login {
  /* margin-top: 10px; */
  width: 400px;
  margin-top: 8px;
  border-radius: 10px;
  height: 40px;
  background-color: orangered;
  color: white;
  border-style: hidden;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.form-control1-login {
  border-radius: 10px;
  width: 400px;
  height: 40px;
  border-style: hidden;
  color: white;
  background-color: rgb(50, 50, 50);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.form-control4-login {
  /* margin-top: 30px; */
  width: 400px;
  border-radius: 10px;
  height: 40px;
  margin-top: -10px;
  background-color: orangered;
  border-style: hidden;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.form-control3-login {
  /* margin-top: 30px; */
  width: 400px;
  margin-left: 50px;
  border-radius: 10px;
  color: white;
  height: 40px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: orangered;
  border-style: hidden;
}
.form2-login {
  padding-left: 50px;
  padding-top: 21px;
}
.logo1 {
  width: 60px;
  height: 60px;
  background-size: 60px;
  border-radius: 30px;
  position: relative;
  right: 70px;
}
/* .body{
    background-color: black;
    padding-top: 10px;
} */

.formforget1 {
  margin-left: 110px;
  width: 400px;
  background-color: rgb(50, 50, 50);
  /* padding-top: 30px; */
  border-style: hidden;
  height: 40px;
  border-radius: 10px;
}
.formforget2 {
  margin-left: 110px;
  width: 400px;
  background-color: rgb(50, 50, 50);
  /* padding-top: 30px; */
  border-style: hidden;
  height: 40px;
  border-radius: 10px;
  color: orangered;
}
.box-forget {
  background-color: rgb(13, 13, 12);
  height: 450px;
  margin-top: 150px;
  width: 600px;
  margin-left: 500px;
  background-size: 10px;
  border-style: groove;
  border-color: orangered;
  /* border-width: 2px; */
  /* background-image:url("public\ecommerce1.jpg"); */
  background-image: url("public/ecommerce18.jpg");
}
/* .container-fluid1 img{
  width: ;
 } */
.headforget1 {
  font-size: 40px;
  width: 170px;
  padding-left: 250px;
  font-weight: 700;
  padding-top: 10px;
  color: orangered;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.formforget1::placeholder {
  padding-left: 15px;
  margin-left: 100px;
  color: orangered;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: larger;
}
