<%- include('../users/layouts/navbar.ejs') %>

<div class="page-title-area pt-150 pb-55">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="page-titel-detalis">
          <div class="section-title">
            <h2>User Profile</h2>
          </div>
          <div class="page-bc">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li
                  class="breadcrumb-item position-relative active"
                  aria-current="page"
                >
                  <a href="/edituser">profile</a>
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="shop-grid-s pt-120" style="background-color: white; height: 850px">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="d-flex">
          <div class="col-xl-3 col-lg-4 col-md-12">
            <div class="sidebar"> 
              <%- include('../users/layouts/sidebar.ejs') %>
            </div>
          </div>
          <div class="col-xl-9 col-lg-8 col-md-12">
            
          
              <div   class="bill-details pt-15" style="background-color: white; position: relative; bottom: 55px; left: 100px; width: 700px;  ">
                 
                <form  id="add-address-form" action="/addAddress" method="post" class="bill-form pt-5 " style="position: relative; bottom: 85px;">
      
                    <div class="row">
                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                        <div class="first-name pt-30">
                          <label for="first-nem" >First Name</label>
                          <input type="text" name="firstname" id="first-nem" />
                        </div>
                      </div>
                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                        <div class="last-name pt-30">
                          <label for="last-nam">Last Name</label>
                          <input type="text" name="lastname" id="last-nam" />
                        </div>
                      </div>
                    </div>
              
                    <div class="address pt-30">
                      <label for="addres">Address</label>
                      <input type="text" name="address" id="addres" />
                    </div>
                    <div class="city pt-30">
                      <label for="cit">City/Town</label>
                      <input type="text" name="city" id="cit" />
                    </div>
                    <div class="row">
                      <div class="col-xl-6 col-lg-6 col-sm-6">
                        <div class="state pt-30">
                          <label for="stat">Country/States</label>
                          <div class="country-select position-relative">
                            <select name="country"  id="stat">
                              <option value="India">India</option>
                              <option value="Bangladesh">Bangladesh</option>
                              <option value="US">US</option>
                              <option value="UK">UK</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-6 col-lg-6 col-sm-6">
                        <div class="zip pt-30">
                          <label for="zip-c">POSTCODE / ZIP</label>
                          <input type="text" name="pincode" id="zip-c" />
                        </div>
                      </div>
                      <div class="col-xl-6 col-lg-6 col-sm-6">
                        <div class="email pt-30">
                          <label for="emai">Email</label>
                          <input type="text" name="email" id="emai" />
                        </div>
                      </div>
                      <div class="col-xl-6 col-lg-6 col-sm-6">
                        <div class="phone pt-30">
                          <label for="pho">Phone</label>
                          <input type="text" name="mobile" id="pho" />
                        </div>
                      </div>
                    </div>
                    <div class="address pt-30">
                      <button style="width: 700px; height: 45px; border-style: none; background-color: rgb(255, 82, 53);">Save</button>
                    </div>
                     
                  </form>
                
            </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    $('#add-address-form').submit(function (event) {
      event.preventDefault(); 
      if (!validateAddAddressForm()) { 
        return;
      } 
      this.submit();  
    });

    function validateAddAddressForm() {
      const requiredFields = ['first-nem', 'last-nam', 'addres', 'cit', 'stat', 'zip-c', 'emai', 'pho'];

      let isValid = true;

      requiredFields.forEach(function (fieldId) {
        const fieldValue = $('#' + fieldId).val().trim();

        if (fieldValue === '') {
          displayError(fieldId, 'Please enter the required information.');
          isValid = false;
        } else {
          $('#' + fieldId).parent().find('.error-message').remove();
        }
      }); 
      const email = $('#emai').val().trim();
      const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
      if (!emailRegex.test(email)) {
        displayError('emai', 'Please enter a valid email address.');
        isValid = false;
      }

      const phone = $('#pho').val().trim();
      const phoneRegex = /^\d{10}$/;
      if (!phoneRegex.test(phone)) {
        displayError('pho', 'Please enter a valid 10-digit phone number.');
        isValid = false;
      }

      return isValid;
    }

    function displayError(fieldId, message) {
      const field = $('#' + fieldId);
      const errorDiv = $('<div class="error-message"></div>').text(message).css('color', 'red');
      const existingError = field.parent().find('.error-message');

      if (existingError.length) {
        existingError.remove();
      }

      field.parent().append(errorDiv);
    }
  });
</script>
<%- include('../users/layouts/footer.ejs') %>
      </div>
    </div>
  </div>
</div>


 