  <%- include('../layouts/header.ejs') %>
  <header>
    <div class="header-1">
      <div class="container">
        <div class="row align-items-center">
          <!-- Added align-items-center for vertical alignment -->
          <div
            class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-7 order-md-2 order-lg-1"
          >
            <div class="logo3 text-md-center text-lg-left">
              <a href="/">
                <div
                  class="logo3"
                  style="background-image: url('/public/images\ \(1\).jpg')"
                ></div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- header area ends -->
  <div class="container-fluid0">
    <div class="logoimage">
      <!-- <img src="/images (1).jpg" alt="" /> -->
      <div class="box-checkotp" style="height: 450px; position: relative;bottom: 50px;">
        <h1
          class="headcheckotp"
          style="
            position: relative;
            bottom: 60px;
            right: 10px;
            width: 330px;
            color: white;
          "
        >
          OTPVerification
        </h1>
        <div id="timer" style="color: white; font-size: 12px;position: relative; bottom: 50px; left: 170px;"></div>
        <!-- Update the action attribute to point to the correct route for OTP verification -->
        <form
          action="/verify-otp"
          class="form-checkotp needs-validation"
          method="post"
          style="position: relative; bottom: 120px; left: 30px"
          novalidate
        >
          <div class="mb-3">
            <label
              for="validationCustomUsername"
              class="form-label"
              style="color: white; position: relative; top: 80px"
              >Email</label
            >
            <input
              type="email"
              class="checkotp1 form-control"
              name="email"
              required
              style="position: relative; top: 30px; width: 430px"
            />
            <div class="invalid-feedback" style="position: relative; top: 30px">
              Please enter a valid email address.
            </div>
          </div>
          <div class="mb-3">
            <div class="mb-3">
              <label
                for="validationCustomUsername"
                class="form-label"
                style="color: white; position: relative; top: 30px"
                >OTP</label
              >
            <input
              type="number"
              class="checkotp1 form-control"
              name="otp"
              required
              style="width: 430px;position: relative; bottom: 20px"
            />
            <div class="invalid-feedback">Please enter the OTP.</div>
          </div>
          <div class="mb-3">
            <input
              type="submit"
              class="checkotp2 form-control"
              value="Login"
              style="
                width: 430px;
                position: relative;

              
                border-radius: 10px;
                color: white;
                height: 40px;
                font-weight: 500;
                background-color: rgb(197, 95, 22);
                border-style: hidden;
              "
            />
          </div>
         
        </form>
      
      </div>
    </div>
  </div>  
  <script>
  function startTimer(expirationTime) {
    const timerInterval = setInterval(() => {
      const now = new Date().getTime();
      const distance = expirationTime - now;

      if (distance > 0) {
        const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        const seconds = Math.floor((distance % (1000 * 60)) / 1000);

        document.getElementById('timer').innerHTML =
          'Resend OTP In: ' + minutes + 'm ' + seconds + 's ';
      } else {
        clearInterval(timerInterval);
        document.getElementById('timer').innerHTML = 'OTP Expired'; 
      }
    }, 1000);
  } 
  
  const expirationTime = Date.now() + 1 * 60 * 1000;
  startTimer(expirationTime);
  </script>
  
  <%- include('../layouts/footer.ejs') %>
