<%- include('../layouts/header.ejs') %>
<div class="container-fluid2">
  <div class="logoimage">
    <img src="/images (1).jpg" alt="">
    <div class="box-checkotp">
      <h1 class="headcheckotp">OTP Verification</h1>
      <!-- Update the action attribute to point to the correct route for OTP verification -->
      <form action="/verifyotp" class="form-checkotp" method="post">
        <input type="number" class="checkotp1" name="otp" required placeholder="Enter your OTP">
        <br><br>
        <input type="submit" class="checkotp2" value="Login">
      </form>
    </div>
  </div>
</div>



<%- include('../layouts/footer.ejs') %>