<%- include('../layouts/header.ejs') %>

<div class="container-fluid2">
    <div class="logoimage"><img src="/images (1).jpg" alt="">
    <div class="box-forget">
<h1 class="headforget1">ForgetPassword</h1>

 
<form action="" class="forgetpassword" method="post">
    <input type="password" class="formforget1"  name="password" required placeholder="Enter password">
    <input type="hidden" name="user_id" value="<%= user_id %>">
    <br><br>
  
    <input type="submit" class="formforget2"  value="Reset Password">
     
     
     
</form>
</div>
</div>
</div>
 

<%- include('../layouts/footer.ejs') %>