<%- include('../layouts/header.ejs') %>

<div class="container-fluid1">    



    <header>
        <div class="header-1 pt-35">
          <div class="container">
            <div class="row align-items-center"> <!-- Added align-items-center for vertical alignment -->
              <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-7 order-md-2 order-lg-1">
                <div class="logo1 text-md-center text-lg-left">
                  <a href="/">
                    <div class="logo1" style="background-image: url('/images\ \(1\).jpg');"></div>
                  </a> 
                </div>
              </div>
              <div class="col-xl-7 col-lg-7 col-md-3 order-md-1 offset-sm-2 offset-md-0 order-lg-2 col-sm-auto">
                <nav>
                   
              </div>
            </div>
          </div>
        </div>
      </header>
      <!-- header area ends --> 
<div class="box-login">

<h1 class="head1-login">Login</h1>


<% 

if(typeof message !== 'undefined'&&message.trim()!==''){
%>
(<%= message %>)
<%
}
%>
<!-- <img src="/public/ecommerce18.jpg" alt=""> -->


<form action="/login" class="form1-login" method="post">
    <input type="email" class="form-control1-login"  name="email" required placeholder="Enter email">
    <br><br>
    <input type="password"  class="form-control1-login" name="password" required placeholder="Enter password">
    <h4  class="sub1-login">Forgot your password?<a href="/forget">Click here</a></h4>
    <input type="submit"  class="form-control2-login" value="Login"><br>
   
</form>
<form action="/forgotPassword" method="get">
    <input type="submit" class="form-control3-login " value="login with otp" >
</form>
<form action="/register" class="form2-login " method="get">
    <input type="submit"  class="form-control4-login" value="Sign-Up">
</form>
<button> <a href="/">login as guest</a></button>
</div>
</div>
</div> 
 
  
 

<%- include('../layouts/footer.ejs') %>
 


   
