 <!-- <%-include('../layouts/header')%>



   
            <form action="/otpVerify" method="get">
            <div class="text-center"> <h1 class="pb-3 verify-head text-left">Enter your OTP</h1>
            </div> 

            <!-- OTP input -->
             <div class="form-group">
              <input type="text" id="otp" name="otp" class="form-control border-dark white-black curved mx-auto"
                placeholder="Please enter the OTP" maxlength="6" style="width: 80%"  />
              <div class="error text-center" id="otpErr"></div>
            </div>

            <!-- Go back links -->
             <div class="text-center mt-3">
              <h5 class="text-danger text-center"><%=message%></h5>
              <!-- <h6 class="labels-verify">Edit your number? <a href="/otp">Go back</a></h6> -->
              <h6 class="labels-verify">Edit your email? <a href="/forgetPassword">Go back</a></h6>
            </div>

            <!-- Submit button -->
             <div class="text-center mt-4">
              <button type="submit" class="btn btn-block btn-green border-dark curved" style="width: 40%;">Verify OTP</button>
            </div>
          </form>
          <div class="text-center mt-4">
            <span id="verifiBtn">
              <button disabled="true" class="btn btn-blue border-dark curved" style="width: 40%;">
                Resend OTP in <span class="timer"></span><span id="counter"></span>
              </button>
              
            </span>
          </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div> 


 <%-include('../layouts/footer')%>  -->