<%- include('../layouts/header.ejs') %>
<div class="container-fluid">
<div class="logoimage"><img src="/images (1).jpg" alt="">
<h1 class="head1-register">Sign-Up</h1>
<h4 class="sub1-register">please fill in this form to create a new account</h4>
<form action="/register" class="form-register" method="post">
    <input type="text" class="form-control1-register" name="name" placeholder="Name" required>
    <br><br>
    <input type="email" class="form-control1-register"name="email" placeholder="Email" required>
    <br><br>
    <input type="text"  class="form-control1-register" name="mobile" placeholder="Mobile" required>
    <br><br>
    <input type="text"  class="form-control1-register" name="password" placeholder="Password" required>
    <br><br>
    <input type="text"  class="form-control1-register" name="confirm_password" placeholder="Confirm Password" required>
    <br><br>
    <input type="text"  class="form-control1-register" name="country" placeholder="Country" required>
    <br><br>
    <h4 class="sub2-register">Already user?<a href="/login">Login</a></h4>
    <input type="submit" class="form-control2-register" value="Sign-up">
</form>
</div>
</div>
<%- include('../layouts/footer.ejs') %>



